.footer {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    width: 70%;
    font-size: 1.6rem;
    padding-top: .6em;
    border-top: 1px solid black;
}

.logos {
    padding: 2em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 14em;
}


.logo {
    width: 120px;
    height: auto;
    margin: 0 15px;
    display: block;
    object-fit: contain;
}


.social {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.socialsIcon {
    width: 55px;
    height: auto;
    color: #fff;
}

.rightsReservedText {
    text-align: center;
    color: var(--white);

    padding-bottom: 1em;
}

@media only screen and (max-width: 650px) {
    .logos {
        flex-direction: column;
        gap: 3em;
    }

    .logos img {
        width: auto;
        height: 110px;

    }

    .iotLogo {
        margin-bottom: 16px;
    }
}