.navbar {
    width: 100%;
    min-height: 4.8em;
    background-color: var(--purple);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;

    position: fixed;
}

.logo {
    position: absolute;
    left: 100px;
    cursor: pointer;
}

.logo img {
    width: 60px;
    object-fit: contain;
    object-position: center;
}

.mobileNavToggle {
    display: none;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.links button {
    text-decoration: none;

    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.links button:hover {
    color: var(--pink);
    outline: none;
}

.links button.active {
    color: var(--pink);
    text-shadow: var(--pink) 0px 0px 2px;
}

.close {
    display: none;
}

@media only screen and (max-width: 800px) {
    .navbar {
        min-height: 3.8em;
    }

    .logo {
        left: 30px;
    }

    .logo img {
        width: 50px;
    }

    .links {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column-reverse;
        padding: 0rem 4rem 50vh;
        gap: 1em;

        z-index: 1000;
        background-color: #5d378c86;
        backdrop-filter: blur(3rem);

        transform: translateX(100%);
        transition: transform 350ms ease-out;

        font-size: 2.4rem;
    }

    .links[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobileNavToggle {
        display: block;
        position: absolute;
        top: 1.6rem;
        right: 3rem;

        z-index: 1;

        width: 3rem;
        aspect-ratio: 1;
    }

    .mobileNavToggle img {
        /* color: #fff; */
        z-index: 0;
    }

    .close {
        display: block;
        position: absolute;
        width: 4rem;
        top: 3rem;
        right: 3rem;
        color: #fff;
    }

    .links button {
        font-size: 1.6rem;
    }
}