.navbar {
    width: 100%;
    min-height: 4.8em;
    background-color: var(--purple);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;

    position: fixed;
}

.logo {
    position: absolute;
    left: 100px;
    cursor: pointer;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.links button {
    text-decoration: none;

    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.links button:hover {
    color: var(--pink);
    outline: none;
}


.links button.active {
    color: var(--pink);
    text-shadow: var(--pink) 0px 0px 2px;
}

@media only screen and (max-width: 650px) {
    .navbar {
        display: none;
    }

    .logo {
        display: none;
    }

    .links {
        gap: 1em;
    }

    .links button {
        font-size: 1.6rem;
    }
}