@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap');

@font-face {
  font-family: Maiandra;
  src: url(./assets/Font/Maiandra.ttf);
  font-style: normal;
  font-weight: 400;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colors */
  --white: #f6f6f6;
  --gray-background: #eeeeee;
  --purple: #3d1c66;
  --dark-purple: #3d1c66;
  --pink: #e72f84;
  --dark-pink: #ba296d;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

p, h1, h2, h3, a {
  direction: rtl;
}

body:lang(ar) {
  font-family: 'Tajawal', sans-serif !important;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

body:lang(en) {
  font-family: 'Tajawal', sans-serif !important;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}


h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.1;
  color: var(--purple);
}

h2 {
  font-size: 2.6rem;
  line-height: 1.1;
  font-weight: 500;
}

h3 {
  font-size: 2.2rem;
  line-height: 1.1;
  font-weight: 400;
}

p {
  font-size: 1.8rem;
  font-weight: 400;

  color: #444;
}

ul {
  all: unset;
}

li {
  all: unset;
}

button {
  all: unset;
  cursor: pointer;
}

section {
  text-align: center;
  /* background-color: #e72f8411; */

  min-height: 100vh;

  padding: 6em 5em 0em;
  margin-bottom: 1vh;

  position: relative;
}


/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pink);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-pink);
}

/* Phones */
@media only screen and (max-width: 650px) {

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.6rem;
  }

 
}

/* Ipads */
@media only screen and (max-width: 1200px) {}