.center {
    width: 100%;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

.contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.textAndButton {
    max-width: 30em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.textAndButton p {
    margin-bottom: 1.5em;
}

.contentWrapper img {}

@media only screen and (max-width: 800px) {
    .contentWrapper {
        flex-direction: column;
        gap: 3em;
    }

    .contentWrapper img {
        width: 70%;
    }
}