/* .home {} */

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    z-index: 0;

    text-shadow: black 0px 0px 10px;
}

.contentWrapper {
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbarLogo {
    width: 300px;
    height: auto;
    margin-left: 12em;
}

/* .titleAndParagraph {} */

.titleAndParagraph h1 {
    font-size: 3.8rem;
    color: var(--purple);
}

.secondaryTitle {
    margin-top: .4em;

    font-size: 3rem;
    font-weight: 500;

    color: var(--purple);
}

.programInfo {
    width: 45ch;
}

@media only screen and (max-width: 800px) {
    .background {
        display: none;
    }

    .logo img {
        width: auto;
    }

    .contentWrapper {
        margin-top: 4em;
        flex-direction: column;
        justify-content: start;
        gap: 5em;
    }

    .logo img {
        margin: 0;
    }

    .titleAndParagraph h1 {
        font-size: 3.2rem;
    }

    .titleAndParagraph p {
        font-size: 2.8rem;
    }

    .titleAndParagraph .programInfo {
        width: auto;
        font-size: 1.8rem;
    }
}