.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding-bottom: 4em;
}

.contentWrapper h1 {
    padding-bottom: .6em;
}

.programContentInfo {
    font-size: 2.4rem;
    
}

.skillsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

.logoAndTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.logo {
    width: 400px;
    padding-top: -5rem;
}
.interacivelearn{
    width: 300px;
}
.edulogo{
    width:100px;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    background-color: var(--gray-background);
    padding: 2em;
    border-radius: 16px;

}

.skill {
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4em;
}

.skill p {
    max-width: 25ch;
    font-size: 1.8rem;
}

.skillLogo {
    width: 255px;
   
}
.skillLogocode {
    width: 130px;
   
}
.skillLogoAI {
    width: 100px;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
   
}

.interactiveContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.interactiveContent img {
    width: 75px;
}

.interactiveContentGraph {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    background-color: var(--gray-background);

    padding: 2em 8em;
    border-radius: 16px;
}

.interactiveContentGraphItem {
    min-width: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* Phones */
@media only screen and (max-width: 650px) {
    .programContentInfo {
        font-size: 2rem;
    }

    .logo {
        width: 80px;
    }

    .skills {
        flex-direction: column-reverse;
    }

    .skill {
        width: auto;
    }

    .skillLogo {
        width: 60px;
    }

    .interactiveContentGraph {
        flex-direction: column-reverse;
        padding: 2em 2em;
    }

    .interactiveContentGraphItem {
        min-width: 8em;
    }

    .arrow {
        rotate: 270deg;
    }
}


/* Ipads */
@media only screen and (max-width: 1200px) {

    .skill {
        width: auto;
    }

    .skill p {
        height: 5em;
    }

    .interactiveContentGraph {
        padding: 2em 1.6em 1em;
        gap: 1.6em;
    }

    .interactiveContentGraph img {
        width: 4em;
    }

    .interactiveContentGraphItem {
        min-width: auto;
        min-width: 6em;
    }

    .interactiveContentGraphItem h3 {
        height: 2.5em;
    }
}