.contentWrapper {
    min-height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.contentWrapper h1 {
    font-size: 4.2rem;
}

.contentWrapper p {
    font-size: 3.6rem;
    margin-bottom: 1em;
}

.contentWrapper img {
    width: 25%;
}

.likeImg {
    position: absolute;
    bottom: 30px;
    left: 30px;
    opacity: .5;

}

.registerNowImg {
    position: absolute;
    top: 80px;
    right: 30px;
    opacity: .5;

}

/* Phones */
@media only screen and (max-width: 650px) {
    .likeImg, .registerNowImg {
        display: none;
    }
}

/* Ipads */
@media only screen and (max-width: 1200px) {}